@model Supermarket.Models.Product

@{
    var item = Model;
    ViewData["Title"] = "Product Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">Home</a></li>
                            <li><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">List Products</a></li>
                            <li class="active">Detail Product</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="card">
        <div class="card-header">
            <strong>Product Detail</strong>
        </div>
        <div class="card-body card-block">
            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Product Name</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.ProductName)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3" ><label class=" form-control-label">Product Image</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static"><img src="@item.Image" style="width:180px" /></p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Category</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@item.Category.CategoryName</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Price</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">$@Html.DisplayFor(model => model.Price)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Quantity</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Quantity)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Description</label></div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Html.Raw(Model.Description)</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Best Seller</label></div>
                    <div class="col-12 col-md-1">
                        @if(item.BestSeller == true)
                        {
                            <p class="form-control-static">Yes</p>
                        }
                        else
                        {
                            <p class="form-control-static">No</p>
                        }

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Home Flag</label></div>
                    <div class="col-12 col-md-1">
                        @if (item.HomeFlag == true)
                        {
                            <p class="form-control-static">Yes</p>
                        }
                        else
                        {
                            <p class="form-control-static">No</p>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
