@model IEnumerable<Supermarket.DataModels.CartItem>

@{
    ViewData["Title"] = "MyOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalprice = 0;
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a class="breadcrumb-item text-dark" asp-controller="Products" asp-action="Index">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>

<!-- Breadcrumb End -->
@if(Model == null){
    <h3>Không có sản phẩm nào trong giỏ hàng</h3>
}
else
{
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Quantity(Kg)</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <img src="@item.Image" alt="" style="width: 50px;">
                                    <a asp-controller="Products" asp-action="details" asp-route-Id="@item.ProductId">@item.ProductName</a>
                                 </td>
                                <td class="align-middle">$@item.Price</td>
                                <td class="align-middle">@item.Discount%</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">

                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.Quantity">

                                    </div>
                                </td>
                                <td class="align-middle">$@item.Total</td>
                                <td class="align-middle"><a asp-action="RemoveCart" asp-controller="AddToCart" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                            </tr>
                            totalprice = totalprice + @item.Total;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$@totalprice</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            @if(totalprice == 0)
                            {
                                <h5>$0</h5>
                            }
                            else
                            {
                                <h5>$@(totalprice+10)</h5>
                            }
                        </div>
                        <a asp-action="CheckOut" asp-controller="AddToCart" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
}